body{font-family: 'Poppins', sans-serif;
margin: 0;
}
h1{font-size: 50px;;}

.hh{color:orange;
}

section{display: flex;}
.half{width: 50%;
    padding-left: 08%;

}
.half img{width: 90%;

}
.link-button{text-decoration:none;
background-image:linear-gradient(tomato, orange);
padding: 10px 40px;
color: whitesmoke;
font-weight: 700;
border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}